!!! 5
%html{lang: 'en-US'}
  %head
    %meta{charset: 'UTF-8'}
    %link{rel: :stylesheet, type: :'text/css', href: '/stylesheet.css'}
    %title Binary Wall
  %body
    %header
      %h1 Binary Wall
    .content
      %pre= @binary_wall
